{% extends 'main/template.html' %}

{% block title %}EcoWatch AI{% endblock %}

{% block content %}
    <div class="features">
        
        <h1>Экологический мониторинговый ИИ — EcoWatch AI</h1>
        <h2>Будущее экологии начинается сегодня</h2>
        <p>EcoWatch AI — это мощный инструмент для мониторинга окружающей среды и прогнозирования изменений климата в реальном времени. Уникальные алгоритмы анализируют данные с тысяч источников, от спутников до локальных сенсоров, предоставляя точные прогнозы, адаптированные к изменениям природы. Хотите знать, как изменится ваш регион через 10 лет? EcoWatch AI моделирует будущее, учитывая как глобальные, так и локальные факторы. Участвуйте в сохранении планеты с помощью EcoWatch AI — вашего умного помощника в заботе о будущем экосистем.</p>
    
    </div>
{% endblock %}