{% extends 'main/template.html' %}

{% block title %}FinGenius{% endblock %}

{% block content %}
    <div class="features">
        
        <h1>Финансовый прогнозирующий ИИ — FinGenius</h1>
        <h2>Умный анализ для умных инвестиций</h2>
        <p>FinGenius — это ваш надежный партнер в мире финансов, предоставляющий прогнозы с высокой точностью и адаптируемостью. Специальные алгоритмы не только учитывают рыночные данные, но и анализируют эмоции, тренды и устойчивое развитие компаний. FinGenius использует передовые нейронные сети для самокоррекции, гарантируя, что ваши инвестиции всегда на шаг впереди. Доверьтесь FinGenius и управляйте своими инвестициями с уверенностью, которую предоставляет интеллект будущего.</p>
    
    </div>
{% endblock %}