{% extends 'main/template.html' %}

{% block title %}MedSense AI{% endblock %}

{% block content %}
    <div class="features">
        
        <h1>Медицинский диагностический ИИ — MedSense AI</h1>
        <h2>Искусственный интеллект, который видит больше, чем просто симптомы</h2>
        <p>MedSense AI — это ваш персональный помощник в области здравоохранения, который объединяет лучшее из медицины и передовых технологий. Благодаря уникальной системе интерпретации данных, MedSense AI предлагает точные и персонализированные рекомендации, опираясь на ваш генетический профиль, образ жизни и комплексные медицинские анализы. Диагностика и прогнозирование осложнений теперь быстрее и точнее, что дает вам и врачам полное представление о вашем здоровье. Доверьтесь MedSense AI, чтобы получить качественный уход на уровне экспертной медицины.</p>
        
    </div>
{% endblock %}